
.navbar {
	background-color: #220A02;
}
.navback {
	background:#220A02;
}
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}
.navbar-brand > img {
	height: auto;
}

.nav-link {
	color:#FCF7F3;
	font-family: 'Aleo', serif;
	font-weight: 700;
}

.insta {
	height: 20px;
	width: auto;
	padding-bottom: 3px;
}

.twitter {
	height: 20px;
	width: auto;
	padding-bottom: 3px;
	padding-left: 5px;
}


.linkedin {
	height: 20px;
	width: auto;
	padding-bottom: 3px;
	padding-left: 5px;

}

.index {
	text-align: center;
}

.contact {
	text-align: center;
}

.about {
	text-align: center;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #607462;
}

.background {
	background-image:url("../images/pagebackground.jpg");
	
}

.toptext-corousel {
	color: #607462;
	font-family: 'Aleo', serif;
	font-weight: 900;
	text-shadow: 2px 2px 1px #220A02;
}

.middletext-corousel {
	color: #F9ECDF;
	font-family: 'Aleo', serif;
	font-weight: 400;
	font-size: 20px;
	text-shadow: 1px 1px 1px #220A02;
}

.btncolor{
	background-color: #607462;
	color: #FFFFFF;	
}

.jumbotron-image{
	background-image: url(../images/event.png);
	background-size: contain;
}
.jumbotron {
	position: relative;
	overflow: hidden;
	background-image: url("../images/event.png");
	background-size: cover;
	background-repeat: no-repeat;
}
.textjumbotron {
	color: #607462;
	font-family: 'Aleo', serif;
	font-weight: 700;
}
.container {
    width: 100%;
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
	margin-bottom: 50px;
}

.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
	margin-bottom: 50px;
}

.introduction {
	padding-top: 30px;
	font-weight: 700;
	font-family: 'Aleo', serif;
	color: #607463;
	}

.intro_text {
	font-family: 'Aleo', serif;
	font-size: 20px;
	text-align: justify;
	text-justify:inter-word;
	padding-top: 10px
}

.corouseltext {
	font-family: 'Aleo', serif;
	font-size: 15px;
	font-weight: 700;
	color: #220A02;
	text-align:center;
	text-justify:inter-word;
}

.flow-diagram {
	display:block;
	width: 740px;
	margin-left: auto;
	margin-right: auto;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color:#220A02;
	color: #F9ECDF;
	padding-top:20px;
}

.carousel-padding {
	padding-bottom:100px;
}

h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
p {
	text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.reviewlogo {
	width: 100pt;
	margin-left: 270pt;
	margin-right: 270pt;
	margin-top: 20px;
	margin-bottom: 10px;
	}

.round	{
	border-radius: 30px;
}

.jumbosize {
	width: 300px;
	height:auto;
	margin-bottom: -90px;
	margin-top: -20px;
}

.ikeasize {
	width: 500px;
	height: auto;
}

.container{
	margin-bottom: 40px;
}

.about-top-text {
	font-family: 'Aleo', serif;
	font-size: 20px;
	font-weight: 700;
	color: #220A02;
	text-align:center;
	text-justify:inter-word;
	margin-top: 5px;
	margin-bottom: 2px;
}

.about-bot-text {
	font-family: 'Aleo', serif;
	font-size: 15px;
	font-weight: 400;
	color: #220A02;
	text-align:center;
	text-justify:inter-word;
}

.text-justify{
	font-family: 'Aleo', serif;
	font-weight: 500;
	font-style: italic;
	font-size: 20px;	
	margin-bottom: 40px;
}
.text-centered{
	margin-left: 65pt;
	margin-right: 50pt;
	text-align: center;
}
.firstimage{
	background-color:#D19259; 
}
.secondimage{ 
background-color:#D19259;
}

.heineken{ 
	height: 100px;
	width: auto;
}

.dreamfields{ 
	height: 100px;
	width: auto;
}

.tomorrowland{ 
	height: 100px;
	width: auto;
}

.customer-reviews{
	font-family: 'Aleo', serif;
	font-weight: 700;
	font-style: normal;
	font-size: 46px;
	color: #607463;
	margin-bottom: 20px;
	margin-top: 40px;
}

.bottom-page {
	margin-bottom: 100px;
}
.Name-brand{
	font-family: 'Aleo', serif;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
	color: black;
	margin-top: 20px;
}

.font-cond{ 
font-family: 'Aleo', serif;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
	color: black
	
}
.client-center {
 text-align: center
}

.responsive { 
	width: 100%;
	max-width: 400px;
  	height: auto;
}
.responsiveimage { 
	width: 100%;
	max-width: 800px;
  	height: auto;
}

.picture-limit {
 padding-left: 10%;
 padding-right: 10%;
}

.ourteam-text{ 
	font-family: 'Aleo', serif;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;	
	margin-bottom: 40px;
}

.mentossize {
	padding-left: 10%;
	padding-right: 10%;
}